.calculatorr{
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(7, 50px);
    grid-gap: 2px;
    margin: 5rem;

}

.hasil{
    background-color: grey;
    grid-column: 1/5;
    grid-row: 1/3;
}

.ac{
    grid-column: 1/3;
}

.del{
    grid-column: 3/4;
}

.bagi{
    grid-column: 4/5;
}

.satu{
    grid-column: 1/2;
}

.dua{
    grid-column: 2/3;
}

.tiga{
    grid-column: 3/4;
}

.kali{
    grid-column: 4/5;
}

.empat{
    grid-column: 1/2;
}

.lima{
    grid-column: 2/3;
}

.enam{
    grid-column: 3/4;
}

.minus{
    grid-column: 4/5;
}

.tujuh{
    grid-column: 1/2;
}

.delapam{
    grid-column: 2/3;
}

.sembilan{
    grid-column: 3/4;
}

.tambah{
    grid-column: 4/5;
}

.koma{
    grid-column: 1/2;
}

.nol{
    grid-column: 2/3;
}

.equal{
    grid-column: 3/5;
}

.hasil{
    grid-column: 1/-1;
    background-color: cornflowerblue;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.hasil .prev-hasil{
    color: white;
    font-size: 1.2rem;
}

.hasil .now-hasil{
    color: white;
    font-size: 2.5rem;
}